<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div class="top-bar">
      <div class="menu-text text-center">Medical Information</div>
    </div>

    <div class="top-bar-left">
      <ul class="menu">
	<li><input type="search" placeholder="Search"></li>
	<li><button type="button" class="button">Search</button></li>
	<li><button type="button" class="alert button">Exit</button></li>
      </ul>
    </div>
    
    <table>
      <thead>
	<tr>
	  <th>Information</th>
	  <th>Description</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>Name</td>
	  <td>John Doe</td>
	</tr>
	<tr>
	  <td>Age</td>
	  <td>25</td>
	</tr>
	<tr>
	  <td>DOB</td>
	  <td>11/10/1990</td>
	</tr>
	<tr>
	  <td>SSN</td>
	  <td>xxx-xx-xxxx</td>
	</tr>
	<tr>
	  <td>Address</td>
	  <td>837 Warrington Dr</td>
	</tr>
	<tr>
	  <td>State</td>
	  <td>OH</td>
	</tr>
	<tr>
	  <td>Zip</td>
	  <td>45377</td>
	</tr>
	<tr>
	  <td>Emergency Contact</td>
	  <td>937-555-5555</td>
	</tr>
	<tr>
	  <td>Blood Type</td>
	  <td>A</td>
	</tr>
	<tr>
	  <td>Allergies to Medications</td>
	  <td>Drug 1, Drug 2, Drug 3</td>
	</tr>
	<tr>
	  <td>Medical Conditions</td>
	  <td>Insatiable love for all things cow. May try to milk them without owner's permission. </td>
	</tr>


      </tbody>
    </table>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
